doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href=`/styles/header.css`)
    if style
      link(rel="stylesheet" href=`/styles/${style}.css`)
    if tableStyle
      link(rel="stylesheet" href=`/styles/${tableStyle}.css`)
    if details_modal
      link(rel="stylesheet" href=`/styles/${details_modal}.css`)
    if login_sub_style
      link(rel="stylesheet" href=`/styles/${login_sub_style}.css`)
    link(rel="stylesheet" href=`/styles/globalStyle.css`)
    title= title
  body
    header
      div
        if currentUser && currentUser.role==="admin"
          h1 Dashboard 
        else
          a(href="/")
            h1 Coine#[span X]
        nav 
          div 
            if currentUser
              p Hi #{currentUser.first_name} | #[a(href="/log-out") Log Out]
            else 
              a(href="/sign-up") Sign Up

    block content