extends ./layout/layout

block content
  main
    form(
      class="form"
      method="POST"
      action="/login"
    )
      h2 Sign Up 
      small for Admin access use #[em admin] for username and #[em admin1] for password
      div
        label(for="username") Username
        input(
          type="text"
          name="username"
          placeholder="username"
          value=(underfined===loginDetails ? "" : loginDetails.username)
        )

      div
        label(for="password") Password
        input(
          name="password" 
          type="password"
          placeholder="Password"
          value=(underfined===loginDetails ? "" : `${loginDetails.password}`)
        )

      div 
        a(href="/sign-up") Sign Up

      if error 
        ul 
          for err in error 
            li #{err.msg}

      button Log In