extends ./layout/layout

block content
  main
    form(
      class="form"
      method="POST"
      action="/login"
    )
      h2 Login 
      small For Admin access, use #[em admin] for username and #[em admin1] for password

      div
        label(for="username") Username
        input(
          type="text"
          name="username"
          placeholder="username"
          value=(underfined===loginDetails ? "" : loginDetails.username)
        )

      div
        label(for="password") Password
        input(
          name="password" 
          type="password"
          placeholder="Password"
          value=(underfined===loginDetails ? "" : `${loginDetails.password}`)
        )

      div 
        p Don't have an account? #[a(href="/sign-up" class="sign_up_link") Sign Up]

      if error 
        ul 
          for err in error 
            li #{err.msg}

      button Log In

  script(type="text/javascript" src="/typescript/user.js")