extends ./layout/layout

block content
  main
    p please log in
    p Note: For Admin access, use the details below.
    p username: admin 
    p password: admin

    form(
      class="form"
      method="POST"
      action="/login"
    )
      div
        label(for="username") Username
        input(
          type="text"
          name="username"
          placeholder="username"
          value=(underfined===loginDetails ? "" : loginDetails.username)
        )

      div
        label(for="password") Password
        input(
          name="password" 
          type="password"
          placeholder="Password"
          value=(underfined===loginDetails ? "" : `${loginDetails.password}`)
        )

      div 
        a(href="/sign-up") Sign Up

      if error 
        ul 
          for err in error 
            li #{err.msg}

      button Log In

  script. 
    const form = document.querySelector(".form");
    form.addEventListener("click", () => console.log(form))