extends ./layout/layout

block content
    main
        h2.title Payment Details
        .section
            .user_card 
                .img_div
                    img(
                        width="100%"
                        href="Payment Screenshot"
                        src=`/images/${transaction.paymentScreenshot}`
                    )
                .details 
                    .user_details
                        p Coin: #{transaction.crypto}
                        p Amount: #{transaction.amount}
                        p Status: #{transaction.status}
                        p Wallet: #{transaction.walletAddress}