extends layout

block content
    h1 Sign Up 
    form(
        action="" 
        method="POST"
    )
        label(for="username") Username 
        input(
            type="text"
            name="username"
            placeholder="username"
        )
        label(for="password") Password 
        input(
            name="password"
            type="password"
        )
        button Sign Up
