extends ./layout/layout

block content
    main 
        form(
            action="" 
            method="POST"
        )
            h2 Sign Up 
            small Note: All fields are required

            div
                label(for="username") Username: 
                input(
                    type="text"
                    name="username"
                    placeholder="username"
                    value=(underfined===user ? "" : user.username)
                )

            div
                label(for="first_name") First Name: 
                input(
                    type="text"
                    name="first_name"
                    placeholder="Letam"
                    value=(underfined===user ? "" : user.first_name)
                )

            div 
                label(for="last_name") Last Name 
                input(
                    type="text"
                    name="last_name"
                    placeholder="Barinua"
                    value=(underfined===user ? "" : user.last_name)
                )

            div
                label(for="email") Email: 
                input(
                    name="email"
                    type="email"
                    placeholder="nomail@post.go"
                    value=(underfined===user ? "" : user.email)
                )

            div
                label(for="password") Password: 
                input(
                    name="password"
                    type="password"
                    placeholder="Password"
                    value=(underfined===user ? "" : `${user.password}`)
                )

            if error 
                ul 
                    for err in error 
                        li #{err.msg}

            button Sign Up

            .login_div #[p Already have an account? #[a(href="/" class="sign_up_link") Login]]