extends layout

block content  
    h1 WELCOME BACK #{currentUser.first_name}
    a(href=`/user/${currentUser._id}/buy`) Buy
    br
    a(href="/log-out") LOG OUT
    main 
        h2 Pending transactions
        if pending.length === 0
            p No pending pending found
        else
            table
                thead
                    tr
                        th Transaction ID
                        th Amount
                        th Wallet Address
                        th Payment Screenshot
                        th Status
                tbody
                    each transaction in pending
                        tr
                            td= transaction._id
                            td #{transaction.amount}
                            td= transaction.walletAddress
                            //- td
                            //-     img(src=transaction.paymentScreenshot)
                            td= transaction.status

        h2 Completed transactions
        if completed.length === 0
            p No completed transaction yet.
        else
            table
                thead
                    tr
                        th Transaction ID
                        th Amount
                        th Wallet Address
                        th Payment Screenshot
                        th Status
                tbody
                    each transaction in completed
                        tr
                            td= transaction._id
                            td #{transaction.amount}
                            td= transaction.walletAddress
                            //- td
                            //-     img(src=transaction.paymentScreenshot)
                            td= transaction.status