//- Modal pop up for buy form
.buy_form_container(class=errorForm ? "show" : "")
    form(
        method='post' 
        class="buy_form"
        enctype="multipart/form-data"
        action=`/user/${currentUser._id}/buy`
    )
        p Enter details to buy
        div
            label(for='crypto') Coin:
            select(
                name="crypto"
                value=(underfined===transaction ? "" : `${transaction.crypto}`)
            )
                option(value="ETH") ETH
                option(value="BTC" selected) BTC

        div
            label(for='amount') Amount:
            input(
                required
                name='amount'
                type='number' 
                value=(underfined===transaction ? "" : `${transaction.amount}`)
            )

        div
            label(for='walletAddress') Wallet Address:
            input(
                required
                type='text'
                name='walletAddress'
                value=(underfined===transaction ? "" : `${transaction.walletAddress}`)
            )

        div
            label(for='paymentScreenshot') Payment Receipt:
            input(
                required
                type='file'
                accept="image/*"
                name='paymentScreenshot'
            )

        if error 
            ul 
                for err in error 
                    li #{err.msg}

        button(type='submit') Submit