mixin transactionRow(index, transaction)
    tr
        td #{index + 1}
        td #{transaction.user.first_name} #{transaction.user.last_name}
        td #{transaction.crypto}
        td #{transaction.amount}
        td #[span(class=transaction.status==="pending" ? "pending" : transaction.status==="approved" ? "approved" : "cancelled" ) #{transaction.status}]
        td 
            button(
                class="view_details_pending_btn" 
                data-id=`${encodeURIComponent(JSON.stringify(transaction))}`
            ) View Details
        td 
            if transaction.status==="pending"
                form(
                    method="post"
                    action=`/admin/approve-transaction/${transaction._id}`
                )
                    button(type="submit" class="action_approve") Approve
                form(
                    method="post"
                    action=`/admin/cancel-transaction/${transaction._id}`
                )
                    button(type="submit" class="action_cancel") Cancel
            else 
                form(
                    method="post" 
                    action=""
                )
                    button(type="submit" class="undo") Undo

mixin tableHeader()
    thead
        thead
            tr
                th #
                th Name
                th Coin
                th Amount
                th Status
                th Details
                th Actions

mixin transactionSection(title, transactions)
    .section
        #table_container
            table
                caption #{title}
                +tableHeader()
                tbody
                    if transactions.length === 0
                        p No #{title.toLowerCase()}
                    else 
                        each transaction, index in transactions
                            +transactionRow(index, transaction)