mixin transactionRow(index, transaction)
    tr
        td(data-cell="#") #{index + 1}
        if (currentUser.role==="admin")
            td(data-cell="name") #{transaction.user.first_name} #{transaction.user.last_name}
        td(data-cell="crpto") #{transaction.crypto}
        td(data-cell="amount") #{transaction.amount}
        td(data-cell="status") #[span(class=transaction.status==="pending" ? "pending" : transaction.status==="approved" ? "approved" : "cancelled" ) #{transaction.status}]
        td(data-cell="details") 
            button(
                class="view_details_pending_btn" 
                data-id=`${encodeURIComponent(JSON.stringify(transaction))}`
            ) View Details
        if (currentUser.role==="admin")
            td(data-cell="action")
                .form_container 
                    if transaction.status==="pending"
                        form(
                            method="post"
                            action=`/admin/approve-transaction/${transaction._id}`
                        )
                            button(type="submit" class="action_approve") Approve
                        form(
                            method="post"
                            action=`/admin/cancel-transaction/${transaction._id}`
                        )
                            button(type="submit" class="action_cancel") Cancel
                    else 
                        form(
                            method="post" 
                            action=`/admin/undone-transaction/${transaction._id}`
                        )
                            button(type="submit" class="undo") Undo
        if currentUser.role==="user"&&transaction.status==="pending"
            td(data-cell="delete")
                .form_container
                    form(
                        method="post" 
                        action=`/user/delete/${transaction._id}`
                    )
                        button(type="submit" class="action_cancel") Delete

mixin tableHeader(transactions)
    thead
        thead
            tr
                th #
                if (currentUser.role==="admin")
                    th Name
                th Coin
                th Amount
                th Status
                th Details
                if (currentUser.role==="admin")
                    th Actions
                if (currentUser.role==="user")
                    - const pending = transactions.filter(trnx => trnx.status === "pending")
                    if pending.length > 0
                        th Action

mixin transactionSection(title, transactions)
    .section
        #table_container
            table
                caption #{title}
                    if transactions.length === 0
                        small No #{title.toLowerCase()}
                +tableHeader(transactions)
                tbody
                    if transactions.length > 0
                        each transaction, index in transactions
                            +transactionRow(index, transaction)

mixin btn_category()
    .trnx_category 
        a(
            class="btn_category" 
            href=currentUser.role==="admin" ? "/admin/pending" : `/user/${currentUser._id}`
        ) Pending
        if (currentUser.role==="admin")
            a(
                class="btn_category" 
                href="/admin/approved"
            ) Approved
            a(
                class="btn_category" 
                href="/admin/cancelled"
            ) Cancelled
        else 
            a(
                class="btn_category" 
                href=`/user/completed/${currentUser._id}`
            ) Completed